# Miscellaneous
*.class
*.log
*.lock
*.pyc
.DS_Store
.lock
*.zip

# Flutter/Dart/Pub specific
.dart_tool/
.packages
build/

# IDE specific
.idea/
.vscode/
*.iml
*.ipr
*.iws
.settings/
.project
.classpath